.promo{
    .container{
        .promo__title{
            text-align: center;

            h2:before{
                display: none;
            }

            h2:after{
                content: "";
                width: 36px;
                height: 2px;
                background-color: $color-primary;
                display: block;
                margin: 0 auto;
            }

            p{
                width: 49%;
                margin: 0 auto;
                margin-bottom: 65px;
            }
        }

        .promo__video{
            width: 100%;
            display: flex;
            text-align: center;

            &-item{
                width: 33%;
                .video{
                    position: relative;

                    img.thumbnail{
                        width: 200px;
                        height: 200px;
                        border-radius: 50%;
                        padding: 10px;
                        border: 1px solid #e6e6e6;
                        
                    }

                    i{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }

                    &::after{
                        content: "";
                        width: 20px;
                        height: 2px;
                        background-color: $color-primary;
                        opacity: 0.5;
                        display: block;
                        margin: 0 auto;
                        margin-top: 10px;
                        margin-bottom: 23px;
                    }
                }

                h4{
                    font-family: normal;
                    margin-bottom: 90px;
                }
            }
        }
    }
}